// SPDX-License-Identifier: GPL-2.0
/*
 * Minimal U-Boot bring-up device tree for Pixel 9 Pro XL (komodo)
 */

/dts-v1/;

#include <dt-bindings/gpio/gpio.h>
#include <linux/input.h>

/ {
	model = "Pixel 9 Pro XL";
	compatible = "google,komodo", "google,zumapro-komodo", "google,zumapro";
	#address-cells = <2>;
	#size-cells = <1>;

	aliases {
		pinctrl0 = &pinctrl_gpio_alive;
		pinctrl1 = &pinctrl_gpio_custom_alive;
		serial0 = &uart0;
	};

	chosen {
		#address-cells = <2>;
		#size-cells = <1>;
		stdout-path = "serial0:115200n8";

		framebuffer@fac00000 {
			compatible = "simple-framebuffer";
			reg = <0x0 0xfac00000 0x00f5a000>;
			width = <1344>;
			height = <2992>;
			stride = <5376>;
			format = "a8r8g8b8";
		};
	};

	timer {
		compatible = "arm,armv8-timer";
		clock-frequency = <26000000>;
	};

	memory@b80000000 {
		device_type = "memory";
		reg = <0x0b 0x80000000 0x60f83000>;
	};

	memory@b00000000 {
		device_type = "memory";
		reg = <0x0b 0x00000000 0x80000000>;
	};

	memory@a80000000 {
		device_type = "memory";
		reg = <0x0a 0x80000000 0x80000000>;
	};

	memory@a00000000 {
		device_type = "memory";
		reg = <0x0a 0x00000000 0x80000000>;
	};

	memory@980000000 {
		device_type = "memory";
		reg = <0x09 0x80000000 0x80000000>;
	};

	memory@900000000 {
		device_type = "memory";
		reg = <0x09 0x00000000 0x80000000>;
	};

	memory@880000000 {
		device_type = "memory";
		reg = <0x08 0x80000000 0x80000000>;
	};

	memory@80000000 {
		device_type = "memory";
		reg = <0x00 0x80000000 0x80000000>;
	};

	uart0: uart@10870000 {
		compatible = "google,zuma-uart", "google,gs101-uart";
		reg = <0x0 0x10870000 0x100>;
		reg-io-width = <4>;
		clock-frequency = <24576000>;
		skip-init;
		status = "okay";
	};

	gpio-keys {
		compatible = "gpio-keys";
		pinctrl-0 = <&key_voldown>, <&key_volup>, <&key_power>;
		pinctrl-names = "default";

		button-vol-down {
			label = "KEY_VOLUMEDOWN";
			linux,code = <KEY_VOLUMEDOWN>;
			gpios = <&gpa4 1 GPIO_ACTIVE_LOW>;
		};

		button-vol-up {
			label = "KEY_VOLUMEUP";
			linux,code = <KEY_VOLUMEUP>;
			gpios = <&gpa6 2 GPIO_ACTIVE_LOW>;
		};

		button-power {
			label = "KEY_POWER";
			linux,code = <KEY_POWER>;
			gpios = <&gpa4 0 GPIO_ACTIVE_LOW>;
		};
	};

	pinctrl_gpio_alive: pinctrl@154d0000 {
		compatible = "google,zuma-pinctrl";
		reg = <0x0 0x154d0000 0x1000>;

		gpa0: gpa0-gpio-bank { gpio-controller; #gpio-cells = <2>; };
		gpa1: gpa1-gpio-bank { gpio-controller; #gpio-cells = <2>; };
		gpa2: gpa2-gpio-bank { gpio-controller; #gpio-cells = <2>; };
		gpa3: gpa3-gpio-bank { gpio-controller; #gpio-cells = <2>; };
		gpa4: gpa4-gpio-bank { gpio-controller; #gpio-cells = <2>; };
		gpa6: gpa6-gpio-bank { gpio-controller; #gpio-cells = <2>; };
		gpa7: gpa7-gpio-bank { gpio-controller; #gpio-cells = <2>; };
		gpa8: gpa8-gpio-bank { gpio-controller; #gpio-cells = <2>; };
		gpa9: gpa9-gpio-bank { gpio-controller; #gpio-cells = <2>; };
		gpa10: gpa10-gpio-bank { gpio-controller; #gpio-cells = <2>; };

		key_voldown: key-voldown-pins {
			samsung,pins = "gpa4-1";
			samsung,pin-function = <0xf>;
			samsung,pin-pud = <0>;
			samsung,pin-drv = <0>;
		};

		key_volup: key-volup-pins {
			samsung,pins = "gpa6-2";
			samsung,pin-function = <0xf>;
			samsung,pin-pud = <0>;
			samsung,pin-drv = <0>;
		};

		key_power: key-power-pins {
			samsung,pins = "gpa4-0";
			samsung,pin-function = <0xf>;
			samsung,pin-pud = <3>;
			samsung,pin-drv = <0>;
		};
	};

	pinctrl_gpio_custom_alive: pinctrl@15060000 {
		compatible = "google,zuma-pinctrl";
		reg = <0x0 0x15060000 0x1000>;

		gpn0: gpn0-gpio-bank { gpio-controller; #gpio-cells = <2>; };
		gpn1: gpn1-gpio-bank { gpio-controller; #gpio-cells = <2>; };
		gpn2: gpn2-gpio-bank { gpio-controller; #gpio-cells = <2>; };
		gpn3: gpn3-gpio-bank { gpio-controller; #gpio-cells = <2>; };
		gpn4: gpn4-gpio-bank { gpio-controller; #gpio-cells = <2>; };
		gpn5: gpn5-gpio-bank { gpio-controller; #gpio-cells = <2>; };
		gpn6: gpn6-gpio-bank { gpio-controller; #gpio-cells = <2>; };
		gpn7: gpn7-gpio-bank { gpio-controller; #gpio-cells = <2>; };
		gpn8: gpn8-gpio-bank { gpio-controller; #gpio-cells = <2>; };
		gpn9: gpn9-gpio-bank { gpio-controller; #gpio-cells = <2>; };
	};
};
